#container {
  overflow: hidden;
}

#left {
  float: left;
  width: 180px;
  padding: 10px;
  border-right: 1px solid #CCC;
}

#right {
  margin-left: 201px;
  padding: 10px 0 0 20px;
}

pre { font-family: Courier; }

.clear { 
  clear:both;
}

.left {
  float: left;
}

