<%inherit file="layout.tmpl.html"/>

<%def name="title()">${category.name|h} - good coders code, great reuse</%def>
<%def name="meta_description()">${category.description|h}</%def>

<%namespace import="detailed_page" file="detailed_page.tmpl.html"/>

<div class="page">
  <div class="header">
    <h1><a href="/category/${category.seo_name}">All posts in category "${category.name|h}"</a></h1>
    <div class="hr lighter"></div>
  </div>

  <div class="content">
    <p>Category "<strong>${category.name|h}</strong>" description:</p>
    <blockquote>${category.description|h}</blockquote>
    <p>
    % if category.count == 0:
      Category <strong>"${category.name|h}"</strong> does not have any posts.
    % elif category.count == 1:
      Category <strong>"${category.name|h}"</strong> has <strong>1</strong> post:
    % else:
      Category <strong>"${category.name|h}"</strong> has <strong>${category.count}</strong> posts:
    % endif
    </p>

    % for page in pages:
      ${detailed_page(page)}
    % endfor

    <p>Category "<strong>${category.name|h}</strong>" statistics:</p>

    <%
      total_views = 0
      total_comments = 0

      for page in pages:
        total_views += page.views
        total_comments += page.comment_count
    %>

    <p>Total comments: <strong>${number_to_us(total_comments)}</strong>. Total views: <strong>${number_to_us(total_views)}</strong></p>
  </div>
</div>

