<%inherit file="layout.tmpl.html"/>

<%def name="title()">Article categories on catonmat - good coders code, great reuse</%def>
<%def name="meta_description()" filter="trim,h">
<%
  cats = []
  for cat in categories:
    cats.append(cat.name)
  meta_desc = ', '.join(cats)
%>
Categories: ${meta_desc}
</%def>

<div class="page">
  <div class="header">
    <h1><a href="/category">Article categories on catonmat</a></h1>
    <div class="hr lighter"></div>
  </div>

  <div class="content">
    <%
      n = len(categories)
    %>
    <p>
    % if n == 0:
      There are currently no categories.
    % elif n == 1:
      There is currently <strong>${n}</strong> category.
    % elif n > 1:
      There are currently <strong>${n}</strong> categories.
    % endif
    </p>

    % for category in categories:
      <div class="ctitem">
        <div class="url">
          <%
            posts_txt = 'post' if category.count == 1 else 'posts'
          %>
          <a href="/category/${category.seo_name}" title="${category.description|h}">${category.name|h}</a> (<strong>${category.count} ${posts_txt}</strong>).
        </div>
        <blockquote>
          <div class="description"><p>${category.description|h}</p></div>
        </blockquote>
      </div>
    % endfor
  </div>
</div>

