<%inherit file="layout.tmpl.html"/>

<%def name="title()" filter="h">${comment.name} comment on ${page.title}</%def>

<%def name="meta_description()" filter="h,trim">
## TODO: do comment.plain_text
${comment.comment}
</%def>

<%namespace import="individual_comment" file="comment.tmpl.html"/>
<%namespace import="display_threaded_comments" file="comment.tmpl.html"/>
<%namespace import="comment_form" file="comment_form.tmpl.html"/>

<div class="page">
  <div class="header">
    <h1><a href="${page_path}/" title="Back to article &quot;${page.title|h}&quot;">${page.title|h}</a></h1>
    <div class="hr lighter"></div>
  </div>

  <div class="content">
    % if reply:
      <p>You're replying to a comment by <b>${comment.name}</b>.</p>
    % else:
      <p>You're viewing a comment by <b>${comment.name}</b> and its responses.</p>
    % endif
  </div>

  <div class="comments">
    <div id="comment_list">
    % if reply:
      ${individual_comment(comment, page_path, admin=admin, display_reply_link=False)}
    % else:
      ${individual_comment(comment, page_path, admin=admin)}
      % if comment_parent_id in comments:
        <h3>Comment Responses</h3>
        ${display_threaded_comments(comments[comment_parent_id], comments, admin=admin)}
      % endif
    % endif
    </div>
    <div class="add">
      <h3>Reply To This Comment</h3>
      ${comment_form(page.page_id, comment_submit_path, form,
                     comment_parent_id, comment_error, comment_preview, lynx, captcha_nr)}
      <script>
        catonmat.init_comments('comments', ${comment_parent_id});
        catonmat.init_why_email();
        catonmat.init_preview_comment();
        catonmat.init_submit_comment(${comment_parent_id});
      </script>
    </div>
  </div>
</div>

