<%def name="individual_comment(comment, indent=0)">

<div class="icomment" style="margin-left: ${20*indent}px">
  <div class="gravatar">
    % if comment.gravatar_md5:
    <img src="http://www.gravatar.com/avatar/${comment.gravatar_md5}.jpg?s=40" width="40" height="40">
    % else:
    <img src="/static/img/nogravatar.gif" width="40" height="40">
    % endif
  </div>
  <div class="userinfo">
    <div>
      % if comment.website:
      <span class="name"><a href="${comment.website}" title="${comment.website}">${comment.name}</a></span>
      % else:
      <span class="name">${comment.name}</span>
      %endif

      % if comment.twitter:
      <span class="twitter"><a href="http://twitter.com/${comment.twitter}">${comment.twitter}</a></span>
      % endif

      <span class="permalink"><a href="/c/${comment.comment_id}">Permalink</a></span>
    </div>
    <div>
      <span class="time">${comment.timestamp}</span>
    </div>
  </div>
  <div class="clear"></div>
  <div class="comment_text">
    ${comment.parsed_comment}
  </div>

  <div class="comment_reply">
    <a href="/c/${comment.comment_id}?reply=true" class="reply" id="reply_a_${comment.comment_id}">Reply to this comment</a>
  </div>
</div>

</%def>

<%def name="display_threaded_comments(root, comments, indent=0)">

% for comment in root:
  ${individual_comment(comment, indent)}
  % if comment.comment_id in comments:
    ${display_threaded_comments(comments[comment.comment_id], comments, indent+1)}
  % endif
% endfor

</%def>

