<%def name="comment_form(
  page_id,
  submit_path,
  form,
  parent_id='',
  comment_error='',
  comment_preview='',
  lynx=False
)">

<div id="comment_form">
  % if comment_error:
    <div id="comment_error"><span class="error">${comment_error}</span></div>
  % else:
    <div id="comment_error" class="hidden"></div>
  % endif

  % if comment_preview:
    <div id="comment_preview">${comment_preview}</div>
  % else:
    <div id="comment_preview" class="hidden"></div>
  % endif

  <form action="${submit_path}" method="POST">
    <input type="hidden" name="page_id" id="page_id" value="${page_id}">
    <input type="hidden" name="parent_id" id="parent_id" value="${parent_id | h}">

    <p>
      <label for="name" class="name">Name:</label>
      % if form.get('name'):
      <input tabindex="1" type="text" name="name" id="name" maxlength="64" size="30" value="${form['name'] | h}">
      % else:
      <input tabindex="1" type="text" name="name" id="name" maxlength="64" size="30">
      % endif
    </p>
    <div class="clear"></div>

    <p>
      <label for="email" class="email">E-mail:</label>
      % if form.get('email'):
      <input tabindex="2" type="text" name="email" id="email" maxlength="128" size="30" value="${form['email'] | h}">
      % else:
      <input tabindex="2" type="text" name="email" id="email" maxlength="128" size="30">
      % endif
      <span class="small">(<a href="#" id="why_email_a" title="Why do I need your email?">why do I need your e-mail?</a>)</span>
    </p>
    <div class="clear"></div>

    <div id="why_email_explain" class="hidden">
      <p>
        It would be nice if you left your e-mail address. Sometimes I want to send a private message, or just thank for the great comment. Having your e-mail really helps.
      </p>
      <p><b>I will never ever spam you.</b></p>
    </div>

    <p>
      <label for="twitter" class="twitter">Twitter:</label>
      % if form.get('twitter'):
      <input tabindex="3" type="text" name="twitter" id="twitter" maxlength="128" size="30" value="${form['twitter'] | h}">
      % else:
      <input tabindex="3" type="text" name="twitter" id="twitter" maxlength="128" size="30">
      % endif
      <span class="small">(Your twitter name, if you have one. (I'm <a href="http://twitter.com/pkrumins">@pkrumins</a>, btw.))</span>
    </p>
    <div class="clear"></div>

    <p class="website">
      <label for="website" class="website">Website:</label>
      % if form.get('website'):
      <input tabindex="4" type="text" name="website" id="website" maxlength="256" size="50" value="${form['website'] | h}">
      % else:
      <input tabindex="4" type="text" name="website" id="website" maxlength="256" size="50">
      % endif
    </p>
    <div class="clear"></div>

    <div class="c">
      <label for="comment" class="comment">Comment:</label>
      <div class="a">
        </p>
        % if form.get('comment'):
        <textarea tabindex="5" name="comment" rows="8" cols="50" id="comment">${form['comment'] | h}</textarea>
        % else:
        <textarea tabindex="5" name="comment" rows="8" cols="50" id="comment"></textarea>
        % endif
        <script>
          if ($.browser.safari) {
            /* i can't solve the 2px offset bug in chrome via css manipulations */
            $('#comment_form .a').css('margin-left', '94px');

            /* i also can't solve a problem of labels being offset by 3px in vertical direction */
            $('#comment_form label').css('margin-top','3px')
          }
        </script>
        <div class="comment-help-link"><a href="#" id="ch">Comment Help</a></div>
        <div class="clear"></div>
        <div id="comment_help" class="hidden">
          <p>* use <code>&lt;pre>...&lt;/pre></code> to insert a plain code snippet.</p>
          <p>
            * use <code>&lt;pre lang="<strong>lang</strong>">...&lt;/pre></code> to insert a syntax highlighted code snippet.<br>
            For example, <code>&lt;pre lang="<strong>python</strong>">...&lt;/pre></code> will insert Python highlighted code.
          </p>
          <p>* use <code>&lt;code>...&lt;/code></code> to highlight a variable or a single shell command.</p>
          <p>* use <code>&lt;a href="url">title&lt/a></code> to insert links.</p>
          <p>* use other HTML tags, such as, <code>&lt;b></code>, <code>&lt;i></code>, <code>&lt;blockquote></code>, <code>&lt;sup></code>, <code>&lt;sub></code> for text formatting.</p>
        </div>
      </div>
    </div>
    <div class="clear"></div>

    <div class="e">
      % if not lynx:
      <p>
        Type the first letter of your name: <input tabindex="6" type="text" name="commentc" size="10"> (just to make sure you're a human)
      </p>
      % endif

      <p>
        <input tabindex="6" id="preview" type="submit" name="preview" value="Preview comment">
        <input tabindex="7" id="submit" type="submit" name="submit" value="Submit comment">
      </p>

      <p>
        <span id="comment_please">Please <b>preview</b> the comment before submitting to make sure it's OK.<br></span>
      </p>
    </div>

  </form>
</div>

</%def>

