<%inherit file="layout.tmpl.html"/>

<%def name="title()">Leave feedback - good coders code, great reuse</%def>
<%def name="meta_description()">Send Peteris Krumins a message!</%def>

<div class="page">
  <div class="header">
    <h1><a href="/feedback/" title="Leave feedback">Leave Feedback</a></h1>
    <div class="hr"></div>
  </div>

  <div class="content">
    <p>Use the following form to contact me.</p>
  </div>

  <div style="height: 1em"></div>

  <div id="feedback">
    % if error:
      <div id="feedback_error">
        <span class="error">${error}</span>
      </div>
    % elif thank_you:
      <div id="feedback_ok">
        <span class="ok">Thank you! Your message was successfully sent! :)</span>
      </div>
    % endif
    <form action="/feedback" method="POST">
      <p>
        <label for="name" class="name">Your Name:</label>
        % if form.get('name'):
          <input tabindex="1" type="text" name="name" id="name"
            size="30" maxlength="64" value="${form.get('name')|h}">
        % else:
          <input tabindex="1" type="text" name="name" id="name" size="30" maxlength="64">
        % endif
      </p>
      <div class="clear"></div>
      <p>
        <label for="email" class="email">Your E-mail:</label>
        % if form.get('email'):
          <input tabindex="2" type="text" name="email" id="email"
            size="30" maxlength="128" value="${form.get('email')|h}">
        % else:
        <input tabindex="2" type="text" name="email" id="email" size="30" maxlength="128">
        % endif
      </p>
      <div class="clear"></div>
      <p class="website">
        <label for="website" class="website">Your Website:</label>
        % if form.get('website'):
          <input tabindex="3" type="text" name="website" id="website"
            size="55" maxlength="256" value="${form.get('website')|h}">
        % else:
          <input tabindex="3" type="text" name="website" id="website" size="55" maxlength="256">
        % endif
      </p>
      <div class="clear"></div>
      <p>
        <label for="subject" class="subject">Subject:</label>
        % if form.get('subject'):
          <input tabindex="4" type="text" name="subject" id="subject"
          size="55" value="${form.get('subject')|h}">
        % else:
          <input tabindex="4" type="text" name="subject" id="subject" size="55">
        % endif
      </p>
      <div class="clear"></div>
      <div class="f">
        <label for="message" class="message">Message:</label>
        % if form.get('message'):
          <textarea tabindex="5" name="message" rows="10" cols="50" id="message">${form.get('message')|h}</textarea>
        % else:
          <textarea tabindex="5" name="message" rows="10" cols="50" id="message"></textarea>
        % endif
      </div>
      <div class="e">
        % if not lynx:
        <p>
        Type the first letter of your name: <input tabindex="6" type="text" name="feedbackc" size="10"> (just to make sure you're a human)
        </p>
        % endif
        <input tabindex="7" id="submit" type="submit" name="submit" value="Submit Feedback">
      </div>
    </form>
  </div>

  <script> 
    if ($.browser.safari) {
      /* i can't solve a problem of labels being offset by 3px in vertical direction */
      $('#feedback label').css('margin-top','3px')
    }
  </script> 

  <div style="height: 2em"></div>

  <div class="content">
    <p>Please note that I am usually very busy and it can take several days before I read your message and write a response.</p>
  </div>
</div>

