<div class="friends">
  <h4>Friends</h4>
  <ul>
    <li><a href="http://www.podcats.in">Alastair McGowan-Douglas</a></li>
    <li><a href="http://www.substack.net">James Halliday</a></li>
    <li><a href="http://madars.org/">Madars Virza</a></li>
    <li><a href="http://simcop2387.info/">simcop2387</a></li>
    <li><a href="http://backreference.org/">Mr. Waldner</a></li>
    <li><a href="http://symkat.com/">SymKat</a></li>
    <li><a href="http://f00li5h.pin21.com/">f00li5h</a></li>
    <li><a href="http://amix.dk">amix</a></li>
  </ul> 
</div>
<div class="info">
  <h4>Info</h4>
  <p><a href="http://github.com/pkrumins/catonmat.net" title="catonmat at github">catonmat's source code.</a></p> 
  <p><a href="/privacy-policy">Privacy Policy</a></p>
</div>
<div class="advertise">
  <h4>Advertise on catonmat</h4>
  <p>If you are interested in advertising on catonmat.net, <a href="/feedback/">contact me</a>.</p>
  <!-- march 26, 2012 (schoolly) -->
  <p>Free tools for <a href="http://www.vietstarsoft.com/coding">coding</a> on Vietstarsoft.com.</p>
  <!-- recurring (brainrouter) -->
  <p>Programming <a href="http://www.assignmentexpert.com/">homework help</a>.</p>
  <!-- jan 1, 2012 -->
  <p><a href="http://www.dhgate.com/wholesale+computers.html">wholesale computers</a>.</p>
  <!-- dec 19, 2011 -->
  <p><a href="http://www.whatabeautifullife.com/fr/Robes-Lolita-D01">Robes Lolita</a></p>
</div>
<div class="clear"></div>

<div style="margin-top: 10px">
<SCRIPT TYPE="text/javascript" SRC="http://adserving.cpxadroit.com/tags2/4-1005894.js"></SCRIPT>
</div>
<div style="margin-top: 10px">
<SCRIPT TYPE="text/javascript" SRC="http://adserving.cpxadroit.com/tags2/3-1005894.js"></SCRIPT>
</div>
<div style="margin-top: 10px">
<SCRIPT TYPE="text/javascript" SRC="http://adserving.cpxadroit.com/tags2/6-1005894.js"></SCRIPT>
</div>

