<div class="friends">
  <h4>Friends</h4>
  <ul>
    <li><a href="http://www.podcats.in">Alastair McGowan-Douglas</a></li>
    <li><a href="http://www.substack.com">James Halliday</a></li>
  </ul> 
</div>
<div class="info">
  <h4>Info</h4>
  <p><a href="http://github.com/pkrumins/catonmat.net" title="catonmat at github">catonmat's source code.</a></p> 
</div>
<div class="advertise">
  <h4>Advertise on catonmat</h4>
  <p>If you are interested in advertising on catonmat.net, <a href="/feedback">contact me</a>.</p>
</div>
<div class="clear"></div>

