<div class="friends">
  <h4>Friends</h4>
  <ul>
    <li><a href="http://www.podcats.in">Alastair McGowan-Douglas</a></li>
    <li><a href="http://www.substack.net">James Halliday</a></li>
    <li><a href="http://simcop2387.info/">simcop2387</a></li>
    <li><a href="http://backreference.org/">Mr. Waldner</a></li>
    <li><a href="http://symkat.com/">SymKat</a></li>
    <li><a href="http://f00li5h.pin21.com/">f00li5h</a></li>
    <li><a href="http://amix.dk">amix</a></li>
  </ul> 
</div>
<div class="info">
  <h4>Info</h4>
  <p><a href="http://github.com/pkrumins/catonmat.net" title="catonmat at github">catonmat's source code.</a></p> 
</div>
<div class="advertise">
  <h4>Advertise on catonmat</h4>
  <p>If you are interested in advertising on catonmat.net, <a href="/feedback">contact me</a>.</p>
</div>
<div class="clear"></div>

<div style="margin-top: 10px">
<SCRIPT TYPE="text/javascript" SRC="http://adserving.cpxadroit.com/tags2/4-1005894.js"></SCRIPT>
</div>
<div style="margin-top: 10px">
<SCRIPT TYPE="text/javascript" SRC="http://adserving.cpxadroit.com/tags2/3-1005894.js"></SCRIPT>
</div>
<div style="margin-top: 10px">
<SCRIPT TYPE="text/javascript" SRC="http://adserving.cpxadroit.com/tags2/6-1005894.js"></SCRIPT>
</div>

