<div id="tabs">
  <ul>
    <li><a href="/" title="Return to homepage/blog">Home</a></li>
    <li><a href="/news/" title="Catonmat news">News</a></li>
    <li><a href="/projects/" title="Projects that I have done">Projects</a></li>
    <li><a href="/sitemap/" title="Catonmat sitemap">Sitemap</a></li>
    <li><a href="/feedback/" title="Contact Peteris Krumins/Leave feedback">Feedback</a></li>
    <li><a href="/about/" title="About Peteris Krumins">About Me</a></li>
  </ul>
</div>
<div class="clear"></div>
<div id="hspace">
  <div id="first">
    <a href="/" class="wide" title="Return to good coders code, great reuse">
    <img src="/static/img/good-coders-code-great-reuse.gif" alt="good coders code, great reuse">
    </a>
    <div id="first-real">
      <table width="100%" height="145" valign="middle">
        <tr>
          <td>
            <p class="quote">${quote.quote}</p>
            <!-- <span class="quotes"><a href="/quotes/" title="more programming related quotes">more quotes</a></span>-->
            <p class="author">${quote.author}</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="second">
    <div id="second-real">
      <div id="stackvm-text">
        <p class="top"><a href="http://www.catonmat.net/blog/i-am-doing-a-startup" title="I am doing a startup!">I am doing a startup!</a></p>
        <p class="stackvm-logo"><a href="http://stackvm.com" title="StackVM"><img src="/static/img/stackvm-logo-180px.png" alt="StackVM Logo"></a></p>
        <p class="demo"><a href="http://www.youtube.com/watch?v=TWdkNO6XlFI" class="stackvm-video-0">Demo Video #1</a></p>
        <p class="demo"><a href="http://www.youtube.com/watch?v=ppXUbj0MA3E" class="stackvm-video-1">Demo Video #2</a></p>
      </div>
      <div id="stackvm-video">
        <object width="230" height="180"><param name="movie" value="http://www.youtube.com/v/TWdkNO6XlFI&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/TWdkNO6XlFI&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="230" height="180"></embed></object>
      </div>
      <div class="clear"></div>
      <script>
        stackvm.init_demo_links();
      </script>
    </div>
  </div>
  <div class="clear"></div>
</div>

