<div id="tabs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/books/">Books</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a href="/sitemap/">Sitemap</a></li>
    <li><a href="/feedback/">Feedback</a></li>
    <li><a href="/about/">About Me</a></li>
    <li><a class="advertise" href="/consulting/">Consulting</a></li>
    <li><a class="advertise" href="/advertise/">Advertising</a></li>
  </ul>
  <!--
  <div id="tab-ad">
  </div>
  -->
</div>
<div class="clear"></div>
<div id="hspace">
  <div id="first">
    <a href="/" class="wide" title="Return to good coders code, great coders reuse">
    <img src="/static/img/good-coders-code-great-coders-reuse.png" alt="good coders code, great coders reuse">
    </a>
    <div id="first-real">
      <table width="100%" height="145" valign="middle">
        <tr>
          <td>
            <p class="quote">${quote.quote}</p>
            <!-- <span class="quotes"><a href="/quotes/" title="more programming related quotes">more quotes</a></span>-->
            <p class="author">${quote.author}</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="second">
    <div id="second-real">
      <div id="announcements">
        <div id="browserling">
          <p class="title"><a href="http://www.catonmat.net/blog/launching-browserling/" title="I am doing a startup!">I am doing a startup!</a></p>
          <p class="browserling-logo"><a href="http://www.browserling.com" title="Cross-browser testing"><img src="/static/img/browserling-logo-180px.png" alt="Browserling"></a></p>
          <p>Cross-browser testing from your browser!</p>
        </div>
        <div id="books">
          <p class="title"><a href="http://www.catonmat.net/blog/perl-one-liners-no-starch-press/">I have written my fourth book!</a>
          <p class="awk-logo"><a href="http://www.catonmat.net/blog/perl-one-liners-no-starch-press/" title="Perl One-Liners by No Starch Press"><img src="/static/img/perl-book-no-starch-press-180x61.png" alt="Perl Book"></a></p>
          <p>Be faster than Larry Wall at command line!</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>

