<div id="tabs">
  <ul>
    <li><a href="/" title="Return to homepage/blog">Home</a></li>
    <li><a href="/books/" title="Books that I have written">Books</a></li>
    <li><a href="/projects/" title="Projects that I have done">Projects</a></li>
    <li><a href="/sitemap/" title="Catonmat sitemap">Sitemap</a></li>
    <li><a href="/feedback/" title="Contact Peteris Krumins/Leave feedback">Feedback</a></li>
    <li><a href="/about/" title="About Peteris Krumins">About Me</a></li>
  </ul>
  <div id="tab-ad">
    <!-- recurring, every month, 360 Ent -->
    <span><a href="http://www.paretologic.com/products/paretologicpc/index.aspx">Privacy Controls Software</a> from ParetoLogic</span>
  </div>
</div>
<div class="clear"></div>
<div id="hspace">
  <div id="first">
    <a href="/" class="wide" title="Return to good coders code, great reuse">
    <img src="/static/img/good-coders-code-great-reuse.gif" alt="good coders code, great reuse">
    </a>
    <div id="first-real">
      <table width="100%" height="145" valign="middle">
        <tr>
          <td>
            <p class="quote">${quote.quote}</p>
            <!-- <span class="quotes"><a href="/quotes/" title="more programming related quotes">more quotes</a></span>-->
            <p class="author">${quote.author}</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="second">
    <div id="second-real">
      <div id="announcements">
        <div id="browserling">
          <p class="title"><a href="http://www.catonmat.net/blog/launching-browserling/" title="I am doing a startup!">I am doing a startup!</a></p>
          <p class="browserling-logo"><a href="http://www.browserling.com" title="Browserling"><img src="/static/img/browserling-logo-180px.png" alt="Browserling"></a></p>
          <p>Cross-browser testing from your browser</p>
        </div>
        <div id="books">
          <p class="title"><a href="http://www.catonmat.net/blog/awk-book/">I have written my first book!</a>
          <p class="awk-logo"><a href="http://www.catonmat.net/blog/awk-book/" title="Awk One-Liners Explained"><img src="/static/img/awk-book-logo-180px.gif" alt="Awk"></a></p>
          <p>Awk one-liners explained</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>

