<%namespace import="display_threaded_comments" file="comment.tmpl.html"/>
<%namespace import="comment_form" file="comment_form.tmpl.html"/>
<%namespace import="display_series" file="display_series.tmpl.html"/>

<%def name="individual_page(
  page_data,
  comment_data,
  tag_data,
  display_options,
  lynx=False
)">

<div class="page">
  <div class="header">
    % if display_options.display_category and page_data.page.category:
    <span class="category next"><a href="/category/${page_data.page.category.seo_name}" title="See all posts in category &quot;${page_data.page.category.name}&quot;">${page_data.page.category.name}</a></span>
    % endif

    % if display_options.display_comment_count:
    <span class="commentsc">
      % if comment_data.comment_count == 1:
        <a href="${page_data.page_path}#comments" title="One person has commented on &quot;${page_data.page.title|h}&quot;"><strong>1</strong> Comment</a>
      % else:
        <a href="${page_data.page_path}#comments" title="${comment_data.comment_count} people have commented on &quot;${page_data.page.title|h}&quot;"><strong>${comment_data.comment_count}</strong> Comments</a>
      % endif
    </span>
    % endif

    % if display_options.display_publish_time:
    <span class="date right">${page_data.page.publish_time}</span>
    % endif

    <div class="clear"></div>
    <div class="hrb"></div>
    <h1><a href="${page_data.page_path}" title="${page_data.page.title|h}">${page_data.page.title|h}</a></h1>
    <!--
    <div class="hr lighter"></div>
    -->
  </div>

  % if page_data.page.series:
    ${display_series(page_data.page)}
  % endif

  <div class="content">
    <%
      if page_data.page.status == 'post':
        from datetime import datetime, timedelta
        now = datetime.utcnow()
        then = page_data.page.blog_page.publish_date
        older_than_6_h = now-then > timedelta(hours=6)
    %>

    % if page_data.page.status == 'post' and not front_page and older_than_6_h:
    <%def name="google_ad()">
<script type="text/javascript"><!--
  google_ad_client = "pub-0433925538517663";
  /* catonmat before article (blue) 336x280, created 1/23/10 */
  google_ad_slot = "8733420369";
  google_ad_width = 336;
  google_ad_height = 280;
  //-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
    </%def>

    <%
      ad = capture(google_ad)
    %>
      ${page_data.page.parsed_content_with_ad(ad)}
    % else:
      ${page_data.page.parsed_content}
    % endif
  </div>

  % if display_options.display_social:
  <div class="social">
    <div class="twitter">
      <script type="text/javascript">
        tweetmeme_style = 'compact';
        tweetmeme_source = 'pkrumins';
        tweetmeme_service = 'bit.ly';
      </script>
      <script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
    </div>
    <div class="facebook">
      <a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
    </div>
    <div class="buzz">
      <%
      post_url = 'http://www.catonmat.net%s' % page_data.page.request_path
      post_title = page_data.page.title
      post_desc = page_data.page.excerpt
      src_url = 'http://www.catonmat.net'
      blog_title = 'good coders code, great reuse'
      %>

      <a href="http://www.google.com/reader/link?url=${post_url|u}&title=${post_title|u}&snippet=${post_desc|u}&srcURL=${src_url|u}&srcTitle=${blog_title|u}" title="Share on Google Buzz"><img src="/static/img/buzzit.gif" alt="Buzz it!"></a>
    </div>
    <div class="clear"></div>
  </div>
  % endif

  <div class="footer">
    % if display_options.display_tags and tags_data.tags:
      <div class="tags"><a href="/tags" title="All catonmat tags" class="tags_link">Tags</a>:
        <%
          total_tags = len(tags_data.tags)
        %>
        % for npk, tag in enumerate(tags_data.tags):
        <a href="/tag/${tag.seo_name}" title="See all pages tagged &quot;${tag.name|h}&quot;">${tag.name|h}</a>${", " if npk!=(total_tags-1) else ""}
        % endfor
      </div>
    % endif

    % if display_options.display_comment_url:
    <span class="comment_url">
      % if comment_data.comment_count == 1:
        <a href="${page_data.page_path}#comments" title="Comment on &quot;${page_data.page.title|h}&quot;"><strong>1</strong> Comment</a>
      % else:
        <a href="${page_data.page_path}#comments" title="Comment on &quot;${page_data.page.title|h}&quot;"><strong>${comment_data.comment_count}</strong> Comments</a>
      % endif
    </span>
    % endif

    % if display_options.display_views:
    <span class="views">
      % if page_data.page.views == 1:
       <strong>1</strong> View
      % else:
       <strong>${page_data.page.us_views}</strong> Views
      % endif
    </span>
    % endif

    % if display_options.display_short_url:
    <span class="short_url">
      Short URL <input type="text" size="25" value="http://catonmat.net/p/${page_data.page.page_id}" onclick="this.select()" readonly>
    </span>
    % endif
  </div>

  % if display_options.display_series_after and page_data.page.series:
    ${display_series(page_data.page)}
  % endif

  % if display_options.display_related_posts and related_posts:
  <div class="related-posts">
    <h3>Related Posts</h3>
    <ul>
      % for post in related_posts:
      <li><a href="${post.request_path}" title="${post.title|h}">${post.title|h}</a></li>
      % endfor
      <li>
    </ul>
  </div>
  % endif

  % if display_options.display_comments:
  <a name="comments"></a>
  <div class="comments">
    <div id="comment_list"><!-- TODO: change id to class -->
      <h3>Comments</h3>
      % if comment_data.comments['root']:
        ${display_threaded_comments(comment_data.comments['root'], comment_data.comments)}
        <script>
          catonmat.init_comments('page', '');
        </script>
      % else:
        <p class="nocomm">There are currently no comments! Be <b>the first</b> to comment!</p>
      % endif
    </div>

    <div class="add">
      <h3>Leave a new comment</h3>
      ${comment_form(page_data.page.page_id, comment_data.comment_submit_path, comment_data.form,
        comment_error=comment_data.comment_error, comment_preview=comment_data.comment_preview,
        lynx=lynx)}
      <script>
        catonmat.init_why_email();
        catonmat.init_comment_help();
        catonmat.init_preview_comment();
        catonmat.init_submit_comment('');
      </script>
    </div>
  </div>
  % endif
</div>

</%def>
