<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<%
  reset_css_v = 1
  catonmat_css_v = 20
  catonmat_js_v = 4
%>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>${self.title()}</title>

    <meta name="description" content="${self.meta_description()}">

    <link rel="stylesheet" type="text/css" href="/static/css/reset.css?v=${reset_css_v}" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="/static/css/catonmat.css?v=${catonmat_css_v}" media="screen, projection">
    <!--[if lte IE 7]>
    <style type="text/css">
      #wrapper { margin-top: -1px; }
    </style>
    <![endif]-->

    <script type="text/javascript" src="/static/js/jquery-1.3.2.js"></script>
    <script type="text/javascript" src="/static/js/catonmat.js?v=${catonmat_js_v}"></script>

    ${self.extra_meta_tags()}

    <link rel="alternate" type="application/atom+xml" title="catonmat feed" href="http://www.catonmat.net/feed/">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 
    <link rel="icon" href="/favicon.ico" type="image/x-icon" /> 

    <meta name="google-site-verification" content="aXAUFOiWFF_OiqrmlUrhZN1sqJf5tnuYdMDpuXc1w8w" />
    <meta name="msvalidate.01" content="CD96F4810C690ED2612624D7D2A0C5E8" />
  </head>
  <body>
    % if mobile : 
      <div id="mobile_ad">
      </div>
    % endif
    <div id="container">
      <div id="header">
        ${self.header()}
      </div>
      <div id="wrapper">
        <div id="content">
          ${self.body()}
        </div>
        <div id="sidebar">
          ${self.sidebar()}
        </div>
        <div class="clear"></div>
      </div>
      <div id="footer">
        ${self.footer()}
      </div>
    </div>

<!-- google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-273333-1', 'auto');
  ga('send', 'pageview');
</script>

<!-- google plus -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=3189873;
var sc_invisible=1;
var sc_security="dc7255a7";
</script>

<script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><div class="statcounter"><a title="tumblr tracker" class="statcounter" href="http://statcounter.com/tumblr/"><img class="statcounter" src="http://c.statcounter.com/3189873/0/dc7255a7/1/" alt="tumblr tracker" /></a></div></noscript>
<!-- End of StatCounter Code -->

<!-- facebook pixel -->
<script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1256130351091056'); // Insert your pixel ID here.
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1256130351091056&ev=PageView&noscript=1"
    /></noscript>

  </body>
</html>


<%def name="header()">
  <%include file="header.tmpl.html"/>
</%def>

<%def name="sidebar()">
  <%include file="sidebar.tmpl.html"/>
</%def>

<%def name="footer()">
  <%include file="footer.tmpl.html"/>
</%def>

<%def name="title()">good coders code, great coders reuse</%def>

<%def name="meta_description()">Peteris Krumins' blog about programming, hacking, software reuse, software ideas, computer security, browserling, google and technology.</%def>

<%def name="extra_meta_tags()"></%def>
