<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<%
  reset_css_v = 1
  catonmat_css_v = 20
  catonmat_js_v = 3
%>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>${self.title()}</title>

    <meta name="description" content="${self.meta_description()}">

    <link rel="stylesheet" type="text/css" href="/static/css/reset.css?v=${reset_css_v}" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="/static/css/catonmat.css?v=${catonmat_css_v}" media="screen, projection">
    <!--[if lte IE 7]>
    <style type="text/css">
      #wrapper { margin-top: -1px; }
    </style>
    <![endif]-->

    <script type="text/javascript" src="/static/js/jquery-1.3.2.js"></script>
    <script type="text/javascript" src="/static/js/catonmat.js?v=${catonmat_js_v}"></script>

    <link rel="alternate" type="application/atom+xml" title="catonmat feed" href="http://www.catonmat.net/feed/">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 
    <link rel="icon" href="/favicon.ico" type="image/x-icon" /> 

    <meta name="google-site-verification" content="aXAUFOiWFF_OiqrmlUrhZN1sqJf5tnuYdMDpuXc1w8w" />
  </head>
  <body>
    % if mobile : 
      <div id="mobile_ad">
        <div data-type="ad" data-publisher="lqm.goodcoderscode.site" data-zone="ron" data-format="300x250"></div>
      </div>
    % endif
    <div id="container">
      <div id="header">
        ${self.header()}
      </div>
      <div id="wrapper">
        <div id="content">
          ${self.body()}
        </div>
        <div id="sidebar">
          ${self.sidebar()}
        </div>
        <div class="clear"></div>
      </div>
      <div id="footer">
        ${self.footer()}
      </div>
    </div>

<!-- google analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-273333-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- google plus -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=3189873;
var sc_invisible=1;
var sc_security="dc7255a7";
</script>

<script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><div class="statcounter"><a title="tumblr tracker" class="statcounter" href="http://statcounter.com/tumblr/"><img class="statcounter" src="http://c.statcounter.com/3189873/0/dc7255a7/1/" alt="tumblr tracker" /></a></div></noscript>
<!-- End of StatCounter Code -->

<!-- developer media -->
<script type='text/javascript'>
    function _dmBootstrap(file) { 
        var _dma = document.createElement('script');  
        _dma.type = 'text/javascript'; 
        _dma.async = true;  
        _dma.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + file; 
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(_dma);
    }
    function _dmFollowup(file) { if (typeof DMAds === 'undefined')  _dmBootstrap('cdn2.DeveloperMedia.com/a.min.js');}
    (function () { _dmBootstrap('cdn1.DeveloperMedia.com/a.min.js'); setTimeout(_dmFollowup, 2000);})();
</script>

  </body>
</html>


<%def name="header()">
  <%include file="header.tmpl.html"/>
</%def>

<%def name="sidebar()">
  <%include file="sidebar.tmpl.html"/>
</%def>

<%def name="footer()">
  <%include file="footer.tmpl.html"/>
</%def>

<%def name="title()">good coders code, great coders reuse</%def>

<%def name="meta_description()">Peteris Krumins' blog about programming, hacking, software reuse, software ideas, computer security, google and technology.</%def>

