<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>catonmat.net mobile version</title>
    <meta name="description" content="catonmat.net - good coders code, great reuse - mobile">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" media="screen, projection">
    <style type="text/css">
      iframe.noscroll { overflow:hidden; }
    </style>
  </head>
  <body>
    <!-- optimized for 600x800 screen sizes -->
    <iframe src="${page_url}" width="600px" height="800px" scrolling="no" class="noscroll"></iframe>
  </body>

  <!-- Start of StatCounter Code for Default Guide -->
  <script type="text/javascript">
  var sc_project=7448018; 
  var sc_invisible=1; 
  var sc_security="a3de14f6"; 
  </script>
  <script type="text/javascript"
  src="http://www.statcounter.com/counter/counter.js"></script>
  <noscript><div class="statcounter"><a title="tumblr page
  counter" href="http://statcounter.com/tumblr/"
  target="_blank"><img class="statcounter"
  src="http://c.statcounter.com/7448018/0/a3de14f6/1/"
  alt="tumblr page counter"></a></div></noscript>
  <!-- End of StatCounter Code for Default Guide -->
</html>

