<%inherit file="layout.tmpl.html"/>

<%def name="title()">${page.title} - good coders code, great reuse</%def>

<div class="page">
  <div class="header">
    <span class="category"><a href="/category/TODO">Programming</a></span>
    <span class="next comments"><a href="${page_path}/comments"><strong>20</strong> Comments</a></span>
    <span class="date right"><!--${page.created}--><a href="sunday">Sundary</a>, <a href="june-2009">June 15</a>, <a href="2009">2009</a></span>
    <div class="clear"></div>
    <div class="hr"></div>
    <h1><a href="${page_path}">${page.title}</a></h1>
    <div class="hr lighter"></div>
  </div>
  <div class="content">
    ${page.content}
  </div>
  <div class="footer">
    <div class="hr"></div>
    hello

  </div>

  % if display_comments:
  <div class="comments">
    <div class="hr"></div>
    <div class="add">
      <h3>Comments</h3>
      <p>here be the comments</p>

      <h3>Leave a comment</h3>
      <div id="comment_error" class="hidden"></div>
      <div id="comment_preview" class="hidden"></div>
      <form action="/ajax/comment" method="POST">
        <input type="hidden" name="page_id" value="${page.page_id}">
        <input type="hidden" name="parent_id">

        <p>
        <label for="name">Name:</label><br>
        <input type="text" name="name" id="name" maxlength="64">
        </p>

        <p>
        <label for="email">E-mail: (will not be published)</label><br>
        <input type="text" name="email" id="email" maxlength="128">
        </p>

        <p>
        <label for="website">Website:</label><br>
        <input type="text" name="website" id="website" maxlength="256">
        </p>

        <p>
        <label for="comment">Comment:</label><br>
        <textarea name="comment" rows="10" cols="50" id="comment"></textarea>
        </p>

        <p>
        <input id="preview" type="submit" name="preview" value="Preview comment">
        <span id="comment_please">Please <b>preview</b> the comment before submitting to make sure it's OK.<br></span>
        <input id="submit" type="submit" name="submit" value="Submit comment" class="hidden">
        <script>
          $('#preview').click(
            function(event) {
              $('#comment_error').slideUp();
              $.post("/ajax/comment_preview",
                {
                  "page_id": $('#page_id').val(),
                  "name":    $('#name').val(),
                  "email":   $('#email').val(),
                  "website": $('#website').val(),
                  "comment": $('#comment').val()
                },
                function(data) {
                  if (data.status === "error") {
                    $('#comment_error').
                      html("<span><strong>Error:</strong> " + data.message + "</span>").
                      slideDown('fast');
                  }
                  else {
                    $('#comment_preview').
                      html(data.comment).
                      slideDown('fast');
                    $('#comment_please').hide();
                    $('#submit').show();
                  }
                },
                "json"
              );
              event.preventDefault();
            }
          );
        </script>
        <p>

        Comment syntax:
        <ul>
          <li><code>&lt;b&gt;text&lt;/b&gt;</code> - make the text bold</li>
          <li><code>&lt;i&gt;text&lt;/i&gt;</code> - make the text italic</li>
          <li><code>&lt;a href="http://www.website.com"&gt;link title&lt;/a&gt;</code> - link to someone</li>
          <li><code>&lt;code lang="python"&gt;code snippet&lt;/code&gt;</code> - insert a code snippet</li>
          <li><code>&lt;q&gt;text&lt;/q&gt;</code> - quote someone</li>
        </ul>
        </p>

      </form>
    </div>
  </div>
  % endif

</div>

