<%inherit file="layout.tmpl.html"/>

<%def name="title()">${page.title} - good coders code, great reuse</%def>

<div class="page">
  <div class="header">
    <span class="category"><a href="/category/TODO">Programming</a></span>
    <span class="next comments"><a href="${page_path}/comments"><strong>20</strong> Comments</a></span>
    <span class="date right"><!--${page.created}--><a href="sunday">Sundary</a>, <a href="june-2009">June 15</a>, <a href="2009">2009</a></span>
    <div class="clear"></div>
    <div class="hr"></div>
    <h1><a href="${page_path}">${page.title}</a></h1>
    <div class="hr lighter"></div>
  </div>
  <div class="content">
    ${page.content}
  </div>
  <div class="footer">
    <div class="hr"></div>
    here be the article footer info
  </div>

  % if display_comments:
  <div class="comments">
    <div class="hr"></div>
    <div class="list">
      <h3>Comments</h3>
      % if comments:
        % for comment in comments:
        <div class="comment">
          <div class="gravatar">
            % if comment.gravatar_md5:
              <img src="http://www.gravatar.com/avatar/${comment.gravatar_md5}.jpg?s=40" width="40" height="40">
            % else:
              <img src="/static/img/nogravatar.gif" width="40" height="40">
            % endif
          </div>
          <div class="userinfo">
            <div>
              % if comment.website:
                <span class="name"><a href="${comment.website}" title="${comment.website}">${comment.name}</a></span>
              % else:
                <span class="name">${comment.name}</span>
              %endif

              % if comment.twitter:
                <span class="twitter"><a href="http://twitter.com/${comment.twitter}">@${comment.twitter}</a></span>
              % endif
            </div>
            <div>
              <span class="time">${comment.timestamp}</span>
            </div>
          </div>
          <div class="clear"></div>
          <div class="comment_text">
            ${comment.comment}
          </div>
        </div>
        % endfor
      % else:
        <p>There are no comments! Be <b>the first</b> to comment!</p>
      % endif
    </div>

    <div class="add">
      <h3>Leave a comment</h3>
      % if comment_error:
        <div id="comment_error">${comment_error}</div>
      % else:
        <div id="comment_error" class="hidden"></div>
      % endif
      <div id="comment_preview" class="hidden"></div>
      <form action="${page_path}" method="POST" id="comment_form">
        <input type="hidden" name="page_id" id="page_id" value="${page.page_id}">
        <input type="hidden" name="parent_id">

        <p>
          <label for="name" class="name">Name:</label>
          % if form.get('name'):
          <input type="text" name="name" id="name" maxlength="64" size="30" value="${form['name']}">
          % else:
          <input type="text" name="name" id="name" maxlength="64" size="30">
          % endif
          <div class="clear"></div>
        </p>

        <p>
          <label for="email" class="email">E-mail:</label>
          % if form.get('email'):
          <input type="text" name="email" id="email" maxlength="128" size="30" value="${form['email']}">
          % else:
          <input type="text" name="email" id="email" maxlength="128" size="30">
          % endif
          <span class="small">(<a href="#" id="why_email_a">why do I need your email?</a>)</span>
          <script>
            $('#why_email_a').click(
              function(event) {
                $('#why_email_explain').slideToggle('fast');
                event.preventDefault();
              }
            );
          </script>
          <div class="clear"></div>
        </p>

        <div id="why_email_explain" class="hidden">
          <p>
          It would be nice if you left your e-mail address. If you did, it would be easier for me to get in touch with you. Sometimes I want to send a private message, or just thank for the great comment. Having your e-mail really helps.
          </p>

          <p><b>I will never ever spam you.</b></p>
        </div>

        <p>
          <label for="twitter" class="twitter">Twitter:</label>
          % if form.get('twitter'):
          <input type="text" name="twitter" id="twitter" maxlength="128" size="30" value="${form['twitter']}">
          % else:
          <input type="text" name="twitter" id="twitter" maxlength="128" size="30">
          % endif
          <span class="small">(Your twitter name, if you have one.)</span>
          <div class="clear"></div>
        </p>

        <p>
          <label for="website" class="website">Website:</label>
          % if form.get('website'):
          <input type="text" name="website" id="website" maxlength="256" size="50" value="${form['website']}">
          % else:
          <input type="text" name="website" id="website" maxlength="256" size="50">
          % endif
          <div class="clear"></div>
        </p>

        <p>
          <label for="comment" class="comment">Comment:</label>
          % if form.get('comment'):
          <textarea name="comment" rows="8" cols="50" id="comment">${form['comment']}</textarea>
          % else:
          <textarea name="comment" rows="8" cols="50" id="comment"></textarea>
          % endif
          <div class="clear"></div>
        </p>

        <p>
          <input id="preview" type="submit" name="preview" value="Preview comment">
          <input id="submit" type="submit" name="submit" value="Submit comment">
          <script>
            $('#preview').click(
              function(event) {
                $('#comment_error').slideUp();
                $.post("/ajax/comment_preview",
                  $('#comment_form').serialize(),
                  function(data) {
                    if (data.status === "error") {
                      $('#comment_error').
                        html("<span>" + data.message + "</span>").
                        slideDown('fast');
                    }
                    else {
                      /* TODO: display the comment as it would naturally look */
                      $('#comment_preview').
                        html(data.comment).
                        slideDown('fast');
                    }
                  },
                  "json"
                );
                event.preventDefault();
              }
            );
          </script>
        </p>

        <p>
          <span id="comment_please">Please <b>preview</b> the comment before submitting to make sure it's OK.<br></span>
        </p>
      </form>
    </div>
  </div>
  % endif

</div>

