<%inherit file="layout.tmpl.html"/>

<%namespace import="individual_page" file="individual_page.tmpl.html"/>

<%def name="title()" filter="h">${page_data.page.title} - good coders code, great reuse</%def>

<%def name="meta_description()" filter="h,trim">
% if page_data.page.excerpt:
  ${page_data.page.excerpt}
% else:
  ${' '.join(page_data.page.plain_text.split()[0:50])} ...
% endif  
</%def>

<div class="welcome">
  <div class="twitter"><a href="http://twitter.com/pkrumins">Follow me on Twitter!</a></div>
</div>

${individual_page(page_data, comment_data, tag_data, display_options, lynx)}

