<!-- begin sidebar.tmpl.html -->

<div class="item search">
  <form name="search" action="/search">
    <input name="q" type="text">
    <input name="submit" type="submit" value="Search">
  </form>
</div>

<!-- About the site -->
<div class="item aboutsite">
  <div class="title">About the site:</div>
  <div class="content">
    <p>
      <a href="/about/" title="About Peteris Krumins">
        <img src="/static/img/peteris-krumins-small.jpg" alt="Peteris Krumins" class="peter">
      </a>
      Peteris Krumins' blog about programming, hacking, software reuse, software ideas, computer security, google and technology.
    </p>
    <div class="hr"></div>
    <p class="contact smallmargin">Reach me at:</p>
    <img src="/static/img/peter-catonmat-net.gif" class="eml">
    <p class="contact">Or meet me on:</p>
    <div class="social">
      <ul>
        <li class="twitter"><a href="http://www.twitter.com/pkrumins" title="Peteris Krumins on Twitter"><img src="/static/img/twitter-16x16.gif">Twitter</a></li>
        <li class="facebook"><a href="http://www.facebook.com/pkrumins" title="Peteris Krumins on Facebook"><img src="/static/img/facebook-16x16.gif">Facebook</a></li>
        <li class="plurk almost-last"><a href="http://www.plurk.com/pkrumins" title="Peteris Krumins on Plurk"><img src="/static/img/plurk-16x16.gif">Plurk</a></li>
        <li class="more"><a href="#" id="a-more-contacts" class="more" title="More ways to contact Peteris Krumins"><img src="/static/img/more-10x10.gif" class="more">more</a></li>
      </ul>
      <div class="clear"></div>
      <script>
        catonmat.init_toggle_contacts();
      </script>
    </div>
    <div class="social hidden" id="div-more-contacts">
      <ul>
        <li class="github"><a href="http://www.github.com/pkrumins" title="Peteris Krumins programming projects on GitHub"><img src="/static/img/github-16x16.gif">GitHub</a></li>
        <li class="linkedin"><a href="http://www.linkedin.com/in/pkrumins" title="Peteris Krumins CV on LinkedIn"><img src="/static/img/linkedin-16x16.gif">LinkedIn</a></li>
        <li class="friendfeed"><a href="http://www.friendfeed.com/pkrumins" title="Peteris Krumins on FriendFeed"><img src="/static/img/friendfeed-16x16.gif">FriendFeed</a></li>
      </ul>
      <div class="clear"></div>
      <div style="padding-bottom: 5px"></div>
      <ul>
        <li><a href="irc://irc.freenode.net/catonmat" title="Catonmat IRC Channel"><img src="/static/img/mirc-16x16.gif">irc.freenode.net, channel #catonmat</a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!-- Subscribe to my posts -->
<div class="item subscribe">
  <div class="title">Subscribe to my posts:</div>
  <div class="content">
    <p>Subscribe through an RSS feed:</p>
    <p class="feed">
      <a href="http://feeds2.feedburner.com/catonmat" rel="alternate" type="application/rss+xml" class="rss" title="Catonmat RSS Feed">
        <img src="/static/img/rss-feed-16x16.png" class="rss">
        <img src="http://feeds2.feedburner.com/~fc/catonmat?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" class="counter">
      </a>
      <span class="rss">(<a href="/what-is-rss/" title="What is RSS Feed?">what is rss?</a>)</span>
    </p>
    <div class="hr"></div>
    <p>Subscribe through email:</p>
    <!-- begin generated by feedburner.com -->
    <p>
      <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=catonmat', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
        <p>Enter your email address:</p>
        <p>
          <input type="text" style="width:140px" name="email"/>
        </p>
        <input type="hidden" value="catonmat" name="uri"/>
        <input type="hidden" name="loc" value="en_US"/>
        <p>
          <input type="submit" value="Subscribe" />
        </p>
        <p>
          Delivered by <a href="http://feedburner.google.com" target="_blank">FeedBurner</a>
        </p>
      </form>
    </p>
    <!-- end generated by feedburner.com -->
  </div>
</div>

<div class="item">
  <div class="title">Top articles:</div>
  <div class="content">
    foobar
  </div>
</div>

<!-- end sidebar.tmpl.html -->
