<!-- begin sidebar.tmpl.html -->

<div class="item search">
  <form name="search" action="/search" method="GET">
    <input name="q" type="text">
    <input name="submit" type="submit" value="Search">
  </form>
</div>

<!-- About the site -->
<div class="item aboutsite">
  <div class="title">About the site:</div>
  <div class="content">
    <p>
      <a href="/about/" title="About Peteris Krumins">
        <img src="/static/img/peteris-krumins-small.jpg" alt="Peteris Krumins" class="peter">
      </a>
      Peteris Krumins' blog about programming, hacking, software reuse, software ideas, computer security, google and technology.
    </p>
    <div class="hr"></div>
    <p class="contact smallmargin">Reach me at:</p>
    <img src="/static/img/peter-catonmat-net.gif" class="eml">
    <p class="contact">Or meet me on:</p>
    <div class="social">
      <ul>
        <li class="twitter"><a href="http://www.twitter.com/pkrumins" title="Peteris Krumins on Twitter"><img src="/static/img/twitter-16x16.gif">Twitter</a></li>
        <li class="facebook"><a href="http://www.facebook.com/pkrumins" title="Peteris Krumins on Facebook"><img src="/static/img/facebook-16x16.gif">Facebook</a></li>
        <!-- TODO: exchange plurk with github -->
        <li class="plurk almost-last"><a href="http://www.plurk.com/pkrumins" title="Peteris Krumins on Plurk"><img src="/static/img/plurk-16x16.gif">Plurk</a></li>
        <li class="more"><a href="#" id="a-more-contacts" class="more" title="More ways to contact Peteris Krumins"><img src="/static/img/more-10x10.gif" class="more">more</a></li>
      </ul>
      <div class="clear"></div>
      <script>
        catonmat.init_toggle_contacts();
      </script>
    </div>
    <div class="social hidden" id="div-more-contacts">
      <ul>
        <li class="github"><a href="http://www.github.com/pkrumins" title="Peteris Krumins programming projects on GitHub"><img src="/static/img/github-16x16.gif">GitHub</a></li>
        <li class="linkedin"><a href="http://www.linkedin.com/in/pkrumins" title="Peteris Krumins CV on LinkedIn"><img src="/static/img/linkedin-16x16.gif">LinkedIn</a></li>
        <li class="friendfeed"><a href="http://www.friendfeed.com/pkrumins" title="Peteris Krumins on FriendFeed"><img src="/static/img/friendfeed-16x16.gif">FriendFeed</a></li>
      </ul>
      <div class="clear"></div>
      <div style="padding-bottom: 5px"></div>
      <ul>
        <li><a href="http://google.com/profiles/peteris.krumins" title="Peteris Krumins on Google Plus"><img src="/static/img/google-plus-16x16.png">Google Plus</a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!-- Subscribe to my posts -->
<div class="item subscribe">
  <div class="title">Subscribe to my posts:</div>
  <div class="content">
    <p>Subscribe through an RSS feed:</p>
    <p class="feed">
      <a href="http://feeds2.feedburner.com/catonmat" rel="alternate" type="application/rss+xml" class="rss" title="Catonmat RSS Feed">
        <img src="/static/img/rss-feed-16x16.png" class="rss">
        <img src="http://feeds2.feedburner.com/~fc/catonmat?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" class="counter">
      </a>
      <span class="rss">(<a href="/what-is-rss/" title="What is an RSS feed?">what is rss?</a>)</span>
    </p>
    <div class="hr"></div>
    <p>Subscribe through email:</p>
    <!-- begin generated by feedburner.com -->
    <p>
      <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=catonmat', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
        <p>Enter your email address:</p>
        <p>
          <input type="text" style="width:140px" name="email"/>
        </p>
        <input type="hidden" value="catonmat" name="uri"/>
        <input type="hidden" name="loc" value="en_US"/>
        <p>
          <input type="submit" value="Subscribe" />
        </p>
        <p>
          Delivered by <a href="http://feedburner.google.com" target="_blank">FeedBurner</a>
        </p>
      </form>
    </p>
    <!-- end generated by feedburner.com -->
  </div>
</div>

<div class="item">
  <div class="title">Server Sponsors</div>
  <div class="content">
    <p>I am being sponsored by <a href="http://www.syntress.com">Syntress</a>! They bought me an amazing dedicated server to run catonmat on. If you're looking web services, I highly recommend the <a href="http://www.syntress.com">Syntress guys</a>!</p>
  </div>
</div>

<div class="item">
  <div class="title">Education Sponsors</div>
  <div class="content">
    <p>I am being sponsored by <a href="http://www.a-writer.com">A-Writer</a>! If you ever need help with <a href="http://www.a-writer.com/">essay writing</a>, look no further than A-Writer! They will help you with your writing in as quickly as 3 hours!</p>
  </div>
</div>

<div class="item">
  <div class="title">My Amazon Wish List</div>
  <div class="content">
    <p>I love to read science books. They make my day and I get ideas for awesome blog posts, such as <a href="http://www.catonmat.net/blog/busy-beaver/">Busy Beaver</a>, <a href="http://www.catonmat.net/blog/on-functors/">On Functors</a>, <a href="http://www.catonmat.net/blog/recursive-regular-expressions/">Recursive Regular Expressions</a> and <a href="http://www.catonmat.net/archive">many others</a>.</p>

    <p>Take a look at my <a href="http://www.amazon.com/registry/wishlist/QDKYO6OQUU4O?reveal=unpurchased&filter=all&sort=priority&layout=standard" title="Peteris Krumins Amazon Wish List"><img src="/static/img/amazon-16x16.gif" style="position: relative; top: 5px; padding-right: 5px">Amazon wish list</a>, if you're curious about what I have planned reading next, and want to surprise me. :)</p>
  </div>
</div>

<div class="item list">
  <div class="title">My Books</div>
  <div class="content">
    <ul>
      <li><a href="http://www.catonmat.net/blog/awk-book/" title="Awk Programming Book">Awk Book</a></li>
      <li><a href="http://www.catonmat.net/blog/sed-book/" title="Sed Programming Book">Sed Book</a></li>
      <li><a href="http://www.catonmat.net/blog/perl-book/" title="Perl Programming Book">Perl Book</a></li>
    </ul>
  </div>
</div>

<div class="item list">
  <div class="title">My Other Websites</div>
  <div class="content">
    <ul>
      <li><a href="http://freescienceonline.blogspot.com">Free Science Online</a></li>
      <li><a href="http://www.freesciencelectures.com">Free Science Videos</a></li>
    </ul>
  </div>
</div>

<div class="item list">
  <div class="title">Top Ten Articles:</div>
  <div class="content">
    <ul>
    % for page in top_pages:
     <li><a href="${page.request_path}/" title="Read &quot;${page.title}&quot; (has been read ${page.us_views} times)">${page.title|h}</a></li>
    % endfor
    </ul>
    <p class="moreinfo">
      <a href="/archive?sorted_by=views" title="Top catonmat articles">See all top articles</a>
    </p>
  </div>
</div>

<div class="item list">
  <div class="title">Top Ten Downloads:</div>
  <div class="content">
    <ul>
    % for download in top_downloads:
    <li><a href="/download/${download.filename}" title="Download &quot;${download.title|h}&quot;">${download.title|h}</a> (<span title="Total ${download.us_downloads} downloads">${download.us_downloads}</span>)</li>
    % endfor
    </ul>
    <p class="moreinfo">
      <a href="/downloads" title="All catonmat downloads">See all downloads</a>
    </p>
  </div>
</div>

<div class="item list">
  <div class="title">Recent Articles:</div>
  <div class="content">
    <ul>
    % for page in recent_pages:
     <li><a href="${page.request_path}/" title="Read &quot;${page.title|h}&quot; (was published on ${page.publish_time})">${page.title|h}</a></li>
    % endfor
    </ul>
    <p class="moreinfo">
      <a href="/archive" title="All catonmat articles">See more detailed list of recent articles</a>
    </p>
  </div>
</div>

<div class="item list">
  <div class="title">Article Categories:</div>
  <div class="content">
    <ul>
     % for category in categories:
      <%
        if category.description:
          title = "%s: %s" % (category.name, category.description)
        else:
          title = 'All articles in "%s" category' % category.name
      %>
      <li><a href="/category/${category.seo_name}" title="${title|h}">${category.name|h}</a> (<span title="There are ${category.count} articles in &quot;${category.name|h}&quot; category">${category.count}</span>)</li>
     % endfor
    </ul>
    <p class="moreinfo">
      <a href="/categories" title="Detailed catonmat category information">See more detailed category information</a>
    </p>
  </div>
</div>

<div class="item list">
  <div class="title">Article Archive:</div>
  <div class="content">
    <ul>
     % for year, nmonth, month, count in post_archive:
     <li><a href="/archive/${year}/${"%02d" % nmonth}" title="All articles written in ${month}, ${year}">${month}, ${year}</a> (<span title="${count} articles were published in ${month}, ${year}">${count}</span>)</li>
     % endfor
    </ul>
    <p class="moreinfo">
      <a href="/archive" title="All catonmat articles">See more detailed list of all articles</a>
    </p>
  </div>
</div>

<div class="item list">
  <div class="title">Superior Papers</div>
  <div class="content">
    <!-- Jul 10, 2013 -->
    <ul>
      <li>Our <a href="http://uk.superiorpapers.com/">essay writing service</a> is the top provider of quality essays to students from the UK. Get your essays written by <a href="http://uk.superiorpapers.com/">superior papers</a> and be free!</li>
    </ul>
  </div>
</div>

<div class="item">
  <div class="title">Advertisements</div>
  <div class="content">
    <script type="text/javascript"><!--
    google_ad_client = "pub-0433925538517663";
    /* 160x600, catonmat sidebar, created 2/15/09 */
    google_ad_slot = "2288848838";
    google_ad_width = 160;
    google_ad_height = 600;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
</div>

% if front_page:
<div class="item list">
  <div class="title">Web Design</div>
  <div class="content">
    <!-- Feb 6, 2013 -->
    <ul>
      <li>Best <a href="http://www.activema.com/">ecommerce website design</a> and hosting by ActiveMA.</li>
    </ul>
  </div>
</div>

<div class="item list">
  <div class="title">Online Backup</div>
  <div class="content">
    <!-- month to month BioNet on dpf -->
    <ul>
      <li><a href="http://www.online-backups.net">www.online-backups.net</a>.</li>
    </ul>
  </div>
</div>

% endif

% if front_page:
<div class="item list">
  <div class="title">Advertisements</div>
  <div class="content">
    <div class="sl-title"></div>
    <ul>
      <!-- mar 12, 2013 -->
      <li><a href="http://www.wix.com/make-a-website?utm_campaign=se_lb_catonmat.net">Wix.com</a></li>
    </ul>
    <ul>
      <!-- mar 11, 2012 -->
      <li><a href="http://www.tradetang.com/wholesale-Ebook-Readers_c262602.html">Ebook Reader</a></li>
    </ul>
    <!-- recurring -->
    <div class="sl-title">Best Web Hosting Company</div>
    <ul>
      <li>MBRW comprehensively review and rate the <a href="http://www.mybestratedwebhosting.com">Best Web Hosting Company</a> to help you make the best decision for your web hosting needs.</li>
    </ul>
    <!-- recurring -->
    <div class="sl-title">Various</div>
    <ul>
      <li><a href="http://www.videoconversionexperts.com/Film_to_DVD/default.htm">film to DVD</a></li>
    </ul>
    <div style="height:10px"></div>
    <ul>
      <!-- text link ads -->
      <li><a href="http://www.landairsea.com/about/fleet-management.html">Fleet Management</a></li>
      <li><a href="http://www.northwestpharmacy.com">Canadian Pharmacy Online</a></li>
      <li><a href="http://www.babiespreferorganic.com/">Medifast Coupons</a></li>
      <li><a href="http://www.aimersoft.com/dvd-to-avi-converter.html">DVD to iMovie</a></li>
      <li><a href="http://www.localsplash.com">Best Local SEO Company</a></li>
      <li><a href="http://vimeo.com/astonishresults">Astonish Results Consulting</a></li>
      <li><a href="http://www.seoclerks.com">Affordable SEO</a></li>
      <li><a href="http://www.refog.com">REFOG</a></li>
      <li>DriveReus <a href="http://www.drivereus.com">Car hire Reus</a> Spain</li>
      <li><a href="http://www.antivirusprice.co.uk">Norton 360</a></li>
    </ul>
    <div style="height:10px"></div>
    <ul>
      <!-- link vehicle -->
      <li><a href="http://www.activ8me.net.au/Products-and-Services/Wireless-Broadband-Plans.aspx">Wireless Broadband</a></li>
    </ul>
  </div>
</div>
% endif

% if text_ads:
<div class="item list">
  <div class="title">Advertisements</div>
  <div class="content">
    <ul>
      % for ad in text_ads:
      <li>${ad.html}</li>
      % endfor
    </ul>
  </div>
</div>
% endif

<div class="item">
  <div class="title">Advertisements</div>
  <div class="content">
    <SCRIPT TYPE="text/javascript" SRC="http://adserving.cpxadroit.com/tags2/5-1005894.js"></SCRIPT>
  </div>
</div>

<div class="item">
  <div class="title">Advertisements</div>
  <div class="content">
    <div class="lqm_ad" lqm_publisher="lqm.goodcoderscode.site" lqm_zone="RON" lqm_format="160x600" lqm_tags="HTML5%2CHTML%205%2CHTML5%20or%20HTML%205%2CCSS%2CWeb%2CJavaScript%2CSQL%2CVirtualization%2CCloud%2CHosting%2CVisual%20Studio%20or%20visualstudio%20or%20vs%20or%20vs2010%2CVisual%20Studio%2Cvisualstudio%2Cvs%2Cvs2010%2CWPF%2CXML%2CSilverlight%2CParallelism%2CTesting%2CjQuery%2CMVC%2CAJAX"></div>
  </div>
</div>

<!-- end sidebar.tmpl.html -->

