<!-- begin sidebar.tmpl.html -->

<div class="item search">
  <form name="search" action="/search" method="GET">
    <input name="q" type="text">
    <input name="submit" type="submit" value="Search">
  </form>
</div>

<!-- About the site -->
<div class="item aboutsite">
  <div class="title">About the site:</div>
  <div class="content">
    <p>
      <a href="/about/" title="About Peteris Krumins">
        <img src="/static/img/peteris-krumins-small.jpg" alt="Peteris Krumins" class="peter">
      </a>
      Peteris Krumins' blog about programming, hacking, software reuse, software ideas, computer security, google and technology.
    </p>
    <div class="hr"></div>
    <p class="contact smallmargin">Reach me at:</p>
    <img src="/static/img/peter-catonmat-net.gif" class="eml">
    <p class="contact">Or meet me on:</p>
    <div class="social">
      <ul>
        <li class="twitter"><a href="http://www.twitter.com/pkrumins" title="Peteris Krumins on Twitter"><img src="/static/img/twitter-16x16.gif">Twitter</a></li>
        <li class="facebook"><a href="http://www.facebook.com/pkrumins" title="Peteris Krumins on Facebook"><img src="/static/img/facebook-16x16.gif">Facebook</a></li>
        <!-- TODO: exchange plurk with github -->
        <li class="plurk almost-last"><a href="http://www.plurk.com/pkrumins" title="Peteris Krumins on Plurk"><img src="/static/img/plurk-16x16.gif">Plurk</a></li>
        <li class="more"><a href="#" id="a-more-contacts" class="more" title="More ways to contact Peteris Krumins"><img src="/static/img/more-10x10.gif" class="more">more</a></li>
      </ul>
      <div class="clear"></div>
      <script>
        catonmat.init_toggle_contacts();
      </script>
    </div>
    <div class="social hidden" id="div-more-contacts">
      <ul>
        <li class="github"><a href="http://www.github.com/pkrumins" title="Peteris Krumins programming projects on GitHub"><img src="/static/img/github-16x16.gif">GitHub</a></li>
        <li class="linkedin"><a href="http://www.linkedin.com/in/pkrumins" title="Peteris Krumins CV on LinkedIn"><img src="/static/img/linkedin-16x16.gif">LinkedIn</a></li>
        <li class="friendfeed"><a href="http://www.friendfeed.com/pkrumins" title="Peteris Krumins on FriendFeed"><img src="/static/img/friendfeed-16x16.gif">FriendFeed</a></li>
      </ul>
      <div class="clear"></div>
      <div style="padding-bottom: 5px"></div>
      <ul>
        <li><a href="http://google.com/profiles/peteris.krumins" title="Peteris Krumins on Google Buzz"><img src="/static/img/buzz-16x16.gif">Google Buzz</a></li>
      </ul>
      <div class="clear"></div>
      <div style="padding-bottom: 5px"></div>
      <ul>
        <li><a href="irc://irc.freenode.net/catonmat" title="Catonmat IRC Channel"><img src="/static/img/mirc-16x16.gif">irc.freenode.net, channel #catonmat</a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!-- Subscribe to my posts -->
<div class="item subscribe">
  <div class="title">Subscribe to my posts:</div>
  <div class="content">
    <p>Subscribe through an RSS feed:</p>
    <p class="feed">
      <a href="http://feeds2.feedburner.com/catonmat" rel="alternate" type="application/rss+xml" class="rss" title="Catonmat RSS Feed">
        <img src="/static/img/rss-feed-16x16.png" class="rss">
        <img src="http://feeds2.feedburner.com/~fc/catonmat?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" class="counter">
      </a>
      <span class="rss">(<a href="/what-is-rss/" title="What is an RSS feed?">what is rss?</a>)</span>
    </p>
    <div class="hr"></div>
    <p>Subscribe through email:</p>
    <!-- begin generated by feedburner.com -->
    <p>
      <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=catonmat', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
        <p>Enter your email address:</p>
        <p>
          <input type="text" style="width:140px" name="email"/>
        </p>
        <input type="hidden" value="catonmat" name="uri"/>
        <input type="hidden" name="loc" value="en_US"/>
        <p>
          <input type="submit" value="Subscribe" />
        </p>
        <p>
          Delivered by <a href="http://feedburner.google.com" target="_blank">FeedBurner</a>
        </p>
      </form>
    </p>
    <!-- end generated by feedburner.com -->
  </div>
</div>

<div class="item">
  <div class="title">Server Sponsors</div>
  <div class="content">
    <p>I am being sponsored by <a href="http://www.zigzap.com">ZigZap</a>! They bought me an amazing dedicated server to run catonmat on. If you're looking for hosting, I highly recommend the <a href="http://www.zigzap.com">ZigZap guys</a>!</p>
  </div>
</div>

<div class="item list">
  <div class="title">My Other Websites</div>
  <div class="content">
    <ul>
      <li><a href="http://freescienceonline.blogspot.com">Free Science Online</a></li>
      <li><a href="http://www.freesciencelectures.com">Free Science Videos</a></li>
    </ul>
  </div>
</div>

<div class="item list">
  <div class="title">Top Ten Articles:</div>
  <div class="content">
    <ul>
    % for page in top_pages:
     <li><a href="${page.request_path}" title="Read &quot;${page.title}&quot; (has been read ${page.us_views} times)">${page.title|h}</a></li>
    % endfor
    </ul>
  </div>
</div>

<div class="item list">
  <div class="title">Top Ten Downloads:</div>
  <div class="content">
    <ul>
    % for download in top_downloads:
    <li><a href="/download/${download.filename}" title="Download &quot;${download.title|h}&quot;">${download.title|h}</a> (<span title="Total ${download.us_downloads} downloads">${download.us_downloads}</span>)</li>
    % endfor
    </ul>
  </div>
</div>

<div class="item list">
  <div class="title">Recent Articles:</div>
  <div class="content">
    <ul>
    % for page in recent_pages:
     <li><a href="${page.request_path}" title="Read &quot;${page.title}&quot; (was published on ${page.publish_time})">${page.title|h}</a></li>
    % endfor
    </ul>
  </div>
</div>

<div class="item list">
  <div class="title">Article Categories:</div>
  <div class="content">
    <ul>
     % for category in categories:
      <%
        if category.description:
          title = "%s: %s" % (category.name, category.description)
        else:
          title = 'All articles in "%s" category' % category.name
      %>
      <li><a href="/category/${category.seo_name}" title="${title|h}">${category.name|h}</a> (<span title="There are ${category.count} articles in &quot;${category.name|h}&quot; category">${category.count}</span>)</li>
     % endfor
    </ul>
    <p class="moreinfo">
      <a href="/categories" title="Detailed catonmat category information">See more detailed category information</a>
    </p>
  </div>
</div>

<div class="item list">
  <div class="title">Article Archive:</div>
  <div class="content">
    <ul>
     % for year, nmonth, month, count in post_archive:
     <li><a href="/archive/${year}/${"%02d" % nmonth}" title="All articles written in ${month}, ${year}">${month}, ${year}</a> (<span title="${count} articles were published in ${month}, ${year}">${count}</span>)</li>
     % endfor
    </ul>
    <p class="moreinfo">
      <a href="/archive" title="All catonmat articles">See more detailed list of all articles</a>
    </p>
  </div>
</div>

<div class="item">
  <div class="title">Advertisements</div>
  <div class="content">
    <script type="text/javascript"><!--
    google_ad_client = "pub-0433925538517663";
    /* 160x600, catonmat sidebar, created 2/15/09 */
    google_ad_slot = "2288848838";
    google_ad_width = 160;
    google_ad_height = 600;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
</div>

<div class="item list">
  <div class="title">Verizon</div>
  <div class="content">
    <!-- Mar 9, 2011 (recurring every 6 months) -->
    <ul>
      <li>Shop <a href="http://deals.servicebundles.com/">Verizon Deals</a> on Phone, Internet, & TV</li>
    </ul>
  </div>
</div>

<div class="item list">
  <div class="title">Video Chat</div>
  <div class="content">
    <!-- recurring -->
    <ul>
      <li><a href="http://www.chatforfree.org/">Video Chat</a></li>
    </ul>
  </div>
</div>

% if front_page:
<div class="item list">
  <div class="title">Advertisements</div>
  <div class="content">
    <!-- recurring -->
    <div class="sl-title">Best Web Hosting Company</div>
    <ul>
      <li>MBRW comprehensively review and rate the <a href="http://www.mybestratedwebhosting.com">Best Web Hosting Company</a> to help you make the best decision for your web hosting needs.</li>
    </ul>
    <!-- mar 24, 2011 -->
    <div class="sl-title">Web Hosting Reviews</div>
    <ul>
      <li>Upperhost provides reviews of the <a href="http://www.upperhost.com/">best web hosting</a> companies by Webmasters.</li>
    </ul>
    <!-- oct 22, 2010 -->
    <div class="sl-title">Laptops</div>
    <ul>
      <li><a href="http://www.moneysupermarket.com/c/shopping/sp/computer-and-software/laptops/">Laptops</a></li>
    </ul>
    <!-- recurring -->
    <div class="sl-title">Various</div>
    <ul>
      <li><a href="http://www.waspbarcode.com/scanners/">Barcode Scanner</a></li>
      <li><a href="http://www.waspbarcode.co.uk/">Stock Control & Asset Tracking Software</a></li>
      <li><a href="http://webhostingrating.com/">Webhosting</a></li>
    </ul>
    <div style="height:10px"></div>
    <ul>
      <li><a href="http://www.oaktree.com/">Custom web design - Portland, Oregon</a></li>
      <li>SEO <a href="http://www.keywordsmagnet.com">keyword tool</a> for keywords research</li>
      <li><a href="http://www.elitextreme.com">Cell Phone Accessories</a></li>
      <li><a href="http://www.milestonesystems.com/">network security consulting</a></li>
      <li>Control your home with <a href="http://www.safemart.com/Wireless-Home-Security/GE-Simon-XT-Wireless-Security-System-SIMONXT.htm">GE Simon XT</a> alarm</li>
      <li><a href="http://www.landairsea.com/about/fleet-management.html">Fleet Management</a></li>
      <li><a href="http://www.northwestpharmacy.com">Canadian Pharmacy Online</a></li>
      <li>Network and DAS <a href="http://www.datarecovery.net">RAID Data Recovery</a></li>
      <li><a href="http://www.wirefly.com">Wirefly</a></li>
      <li><a href="http://www.web-hosting-top.com/">Top Web Hosting</a> & 25% off discounts</li>
    </ul>
  </div>
</div>
% endif

% if text_ads:
<div class="item list">
  <div class="title">Advertisements</div>
  <div class="content">
    <ul>
      % for ad in text_ads:
      <li>${ad.html}</li>
      % endfor
    </ul>
  </div>
</div>
% endif

<div class="item">
  <div class="title">More Advertisements</div>
  <div class="content">
    <SCRIPT TYPE="text/javascript" SRC="http://adserving.cpxadroit.com/tags2/5-1005894.js"></SCRIPT>
  </div>
</div>

<!-- end sidebar.tmpl.html -->

