<%inherit file="layout.tmpl.html"/>

<%def name="title()">catonmat sitemap - good coders code, great reuse</%def>
<%def name="meta_description()">The sitemap of catonmat.net website.</%def>

<div class="page">
  <div class="header">
    <h1><a href="/sitemap" title="Catonmat Sitemap">Catonmat Sitemap</a></h1>
    <div class="hr"></div>
  </div>

  <div class="content">
    <p>This is the sitemap of the catonmat.net website. It lists all <a href="#article-series">article series</a>, <a href="#posts">all posts</a> and <a href="#pages">pages</a> on the site.</p>

    <a name="article-series"></a>
    <h2>All Article Series</h2>
    <div class="indent">
      <ul>
      % for single_series in series:
        <li><a href="/series/${single_series.seo_name}" title="${single_series.description|h}">${single_series.name}</li>
      % endfor
      </ul>
      <p class="indent"><a href="/series" class="more_detailed" title="All article series">More detailed list of article series</a></p>
    </div>

    <a name="posts"></a>
    <h2>All Posts by Category</h2>
    <div class="indent">
    % for category in categories:
      <h3>${category.name|h}</h3>
      <ul>
        % for page in category.blog_pages.all():
        <li><a href="${page.request_path}">${page.title|h}</a></li>
        % endfor
      </ul>
      <p class="indent"><a href="/category/${category.seo_name}" class="more_detailed">More detailed list of articles in "${category.name|h}"</a></p>
    % endfor
    </div>

    <a name="pages"></a>
    <h2>Individual Pages</h2>
    <div class="indent">
      <ul>
      % for page in pages:
        <li><a href="${page.path}" title="${page.title}">${page.name}</a></li>
      % endfor
      </ul>
    </div>
  </div>
</div>

