<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Access Denied</title>

    <link rel="alternate" type="application/atom+xml" title="catonmat feed" href="http://www.catonmat.net/feed/">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <style>
      div#denied {
        text-align: center;
        margin-top: 100px;
      }
    </style>
  </head>
  <body>
    <div id="denied">${message|h}</div>
  </body>
</html>

