<%inherit file="layout.tmpl.html"/>

<form action="/admin/edit_page/${page.page_id}" method="POST">
  <div>
    <p>Created: ${page.created} UTC</p>
    <p>Last update: ${page.last_update} UTC</p>
  </div>

  <div class="left">
    Title:<br>
    <input type="text" name="title" value="${page.title|h}" size="60">
  </div>

  <div class="left">
    Request Path: (<a href="${page.request_path}">visit</a>)<br>
    <input type="text" name="request_path" value="${page.request_path}" size="60">
  </div>
  <div class="clear"></div>

  <div>
    Content:<br>
    <textarea name="content" cols="100" rows="20">${page.content|h}</textarea>
  </div>

  <div>
    Excerpt:<br>
    <textarea name="excerpt" cols="100" rows="3">${page.excerpt|h}</textarea>
  </div>

  <div class="left">
    Category:<br>
    <select name="cat_id">
      % for cat in cats:
        % if page.category.category_id == cat.category_id:
          <option value="${cat.category_id}" selected>${cat.name|h} (${cat.count})</option>
        % else:
          <option value="${cat.category_id}">${cat.name|h} (${cat.count})</option>
        % endif
      % endfor
    </select>
  </div>

  <div class="left">
    Publish date (UTC):<br>
    % if page.blog_page:
      <input type="text" name="publish_date" value="${page.blog_page.publish_date}" size="20">
    % else:
      <input type="text" name="publish_date" value="${page.created}" size="20">
    % endif
  </div>

  <div class="clear"></div>

  <div>
    Tags:<br>
    <%
      if page.status == 'draft':
        str_tags = page.get_meta('draft_tags')
      else:
        str_tags = ', '.join(t.name for t in page.tags)
    %>
    <input type="text" name="tags" value="${str_tags}" size="130">
  </div>

  <div>
    Change note:<br> 
    <input type="text" name="change_note" value="" size="100">
  </div>

  <div>
    <input type="submit" name="submit"  value="Submit changes">
    <input type="submit" name="preview" value="Preview">
    <select name='status'>
      % if page.status == 'draft':
      <option value="draft" selected>Draft</option>
      % else:
      <option value="draft">Draft</option>
      % endif

      % if page.status == 'post':
      <option value="post" selected>Post</option>
      % else:
      <option value="post">Post</option>
      % endif

      % if page.status == 'page':
      <option value="page" selected>Page</option>
      % else:
      <option value="page">Page</option>
      % endif
    </select>

    % if page.status == 'draft':
    <input type="submit" name="publish" value="Publish">
    % endif
  </div>

  <div>
    <p>Revisions:</p>
    <% revisions = page.revisions.all() %>
    % if revisions:
    <ul>
      % for rev in page.revisions.all():
      <li>${rev.change_note}</li>
      % endfor
    </ul>
    % endif
  </div>
</form>

