<ul>
  <li><a href="/admin/new_page">New page</a></li>
  <li><a href="/admin/pages">All posts and pages</a></li>
  <li><a href="/admin/pages?type=posts">All posts</a></li>
  <li><a href="/admin/pages?type=pages">All pages</a></li>
  <li><a href="/admin/pages?type=unpublished">Unpublished pages</a></li>
  <li><a href="/admin/categories">Categories</a></li>
  <li><a href="/admin/fof">404 Log</a></li>
  <li><a href="/admin/exceptions">Exception Log</a></li>
  <li><a href="/admin/comments?page=0">Comments</a></li>
</ul>

