<%inherit file="layout.tmpl.html"/>

<form action="/admin/new_page" method="POST">
  <div>
    <p>Created: ${page.created} UTC</p>
    <p>Last update: ${page.last_update} UTC</p>
  </div>

  <div class="left">
    Title:<br>
    <input type="text" name="title" value="${page.title|h}" size="60">
  </div>

  <div class="left">
    Request Path: (<a href="${page.request_path}">visit</a>)<br>
    <input type="text" name="request_path" value="${page.request_path}" size="60">
  </div>
  <div class="clear"></div>

  <div>
    Content:<br>
    <textarea name="content" cols="100" rows="20"></textarea>
  </div>

  <div>
    Tags:<br>
    <input type="text" name="tags" value="" size="100">
  </div>

  <div>
    Excerpt:<br>
    <textarea name="excerpt" cols="100" rows="3"></textarea>
  </div>

  <div>
    Category:<br>
    <select name="cat_id">
      % for cat in cats:
         <option value="${cat.category_id}">${cat.name|h}</option>
      % endfor
    </select>
  </div>

  <div>
    <input type="submit" name="submit"  value="Create Page">
  </div>
</form>

